config gadget
	option type 'acm'
	option name 'gadget-acm'
	option manufacturer 'OpenWrt'
	option product 'OpenWrt USB CDC/ACM'
	option serial_number '007'
	option usb_vid '0xbeef'
	option usb_pid '0x1234'
	option udc_dev 'ci_hdrc.0'
	option disabled 1

config gadget
	option type 'acm+rndis'
	option name 'gadget-acm-rndis'
	option manufacturer 'OpenWrt'
	option product 'OpenWrt USB CDC/ACM+RNDIS'
	option serial_number '009'
	option usb_vid '0xbeef'
	option usb_pid '0x9abc'
	option udc_dev 'ci_hdrc.0'
	option disabled 1
